!!! XML
!!! Strict
 
%html
  %head
    %title LifeLog
    %meta{:"http-equiv"=>"Content-Type", :content=>"text/html", :charset=>"utf-8"}
  %body
    %h1 LifeLog
    != @content

-#    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/screen.css"}
