%html
  %head
    %title LifeLogger
  %body
    %h1 LifeLog

    %table.log
      %tr
        %td
        %td
          %form
            %input{:type => "text", :size => 140}
            %input{:type => "submit", :value => "add"}

      - @posts.each do |post|
        %tr.post
          %td.time= h post.time_str
          %td.message= h post.message
