%html
  %head
    %title LifeLogger
  %body
    %h1 LifeLog

    %table.log
      %tr
        %td
        %td
          %form{:action => "/say", :method => "POST"}
            %input{:type => "text", :size => 140, :name => "message"}
            %input{:type => "submit", :value => "add"}

      - @posts.each do |post|
        %tr.post
          %td.time= h post.time_str
          %td.message= post.message
