%html
  %head
    %title LifeLogger
  %body
    %h1 LifeLog

    %form
      %input
      %input{:type => "submit", :value => "add"}

    .log
      - @posts.each do |post|
        .post= h post.inspect
